.footer{
  padding-top: 100px;
}
.footer__title{
  color: #FFF;
  font-family: "Stone Soup NF W01 Regular",serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.85px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}