.welcome {
  background: url("https://s3-alpha-sig.figma.com/img/257b/97bf/52bf6d01a3f94fcd6e78f76203da1be0?Expires=1703462400&Signature=kn~EU43-OwJb0jIESfY3mDPdZPHEXGPPRYmOLeLCOApl--fPqs7pwh7plF42-fsvud8oMSYzyCdWfNj8T6hoHd2fSMjh3-kDjX85UhKEKeqLhL11~KD8RWVrKvHqBzGDDCcqvefa9rlWRJ4CVmFpg1neCJ~LWB6FdNg1ZIP199cEPN0HGS8c5CsCKuVqN5XluaDAON729-xbdz18CZ3l3igQ7Svp73DNIuDRLKp7Wugd773YBe27yIw1jIdoJPK79KEcrg-7px8TuR73ZpdXU0IlX2To7sNQRMItbQr-kNYpRvb0mmHNCdFjk7rKHfXr4~-7RWkRVvIQeuGbFTnG5g__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4") center/cover no-repeat;
}
.welcome__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.welcome::before {
  content: "";
  position: absolute;
  top: 800px;
  width: 100%;
  height: 200px;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(18.83%, #000), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(0deg, #000 18.83%, rgba(0, 0, 0, 0) 100%);
}

.welcome__subtitle {
  padding-top: 8px;
  color: #C2E978;
  text-align: center;
  font-family: "Stone Soup NF W01 Regular", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.6px;
}

.welcome__desc {
  padding-top: 16px;
  color: #FFF;
  text-align: center;
  font-family: "TT Lakes Neue", serif;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
}

.welcome__signature {
  padding: 28px 0 0;
}

.welcome__nft {
  padding-top: 40px;
  color: #FFF;
  text-align: center;
  font-family: "Stone Soup NF W01 Regular", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 2.4px;
}

.welcome__nft-green {
  color: #C2E978;
  font-family: "Stone Soup NF W01 Regular", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 2.4px;
}

.welcome__description {
  padding-top: 12px;
  color: #FFF;
  text-align: center;
  font-variant-numeric: slashed-zero;
  -webkit-font-feature-settings: "liga" off;
          font-feature-settings: "liga" off;
  font-family: "TT Lakes Neue", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
}

@media screen and (max-width: 767px) {
  .welcome {
    background-size: cover;
  }
  .welcome::before {
    content: "";
    position: absolute;
    top: 700px;
    width: 100%;
    height: 200px;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(18.83%, #000), to(rgba(0, 0, 0, 0)));
    background: linear-gradient(0deg, #000 18.83%, rgba(0, 0, 0, 0) 100%);
  }
  .welcome__subtitle {
    font-size: 24px;
    letter-spacing: 1px;
  }
  .welcome__desc {
    font-size: 18px;
    line-height: 28px;
  }
  .welcome__signature {
    padding: 14px 0 0;
  }
  .welcome__nft {
    padding-top: 20px;
    font-size: 32px;
    line-height: 32px;
  }
  .welcome__nft-green {
    font-size: 32px;
    line-height: 32px;
  }
  .welcome__description {
    font-size: 16px;
    line-height: 24px;
  }
}